.news-article {
    /* border: 1px solid #ccc; */
    /* padding: 16px; */
    margin: 40px;
    max-width: 350px;
    max-height: 400px;
    cursor: pointer;
  }

  .first-article{
    margin: 40px;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    cursor: pointer;
  }

  .first-article-img{
    /* Extra styles for the image in the first article */
    margin-right: 30px;
    border-radius: 10px; 
    flex: 2;
  }

  .first-article-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Rounded corners for all images */
  }

  .img-container{
    width: auto;
  }

  .img-container img {
    border-radius: 10px; /* Rounded corners for all images */
    max-width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .first-article-content{
    flex: 1;
  }

  .first-article-content h3{
    font-size: xx-large;
  } 
  
  
  .published-date {
    font-size: 12px;
    color: #888;
  }
  
  .article-title {
    margin: 10px 0;
  }
  
  .article-description {
    color: #555;
  }

 /* Mobile Styles */
@media (max-width: 480px) {

  .news-article {
    margin: 30px; /* Add margin on sides and between articles */
    max-width: calc(100% - 40px); /* Calculate max width with margins on both sides */
    max-height: none;
  }

}



  