.small-articles, .news-grid, .big-article {
  display: grid;
  justify-content: center; 
  align-items: center; 
}

.news-grid{
  /* border: solid 1px black; */
  width: 90%;
}

.parent-div{
  display: flex;
  justify-content: center;
}

.small-articles{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 columns in a row */
  gap: 20px;
}

/* For tablet screens, 2 columns */
@media (max-width: 1025px) {
  .news-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

@media (max-width: 600px) {
  /* For mobile screens, 1 column */
  .news-grid, .big-article, .small-articles {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

/* Additional styles for the first article */
.big-article {
  grid-column: 1 / span 3; /* Take the full width of 3 columns */
}
